{% extends 'base/base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
<h1 style="text-align:center;">About User</h1>
<div style="text-align:center;">
{% for mrsachins in mrsachin %}

<h1>First Name: {{mrsachins.firstname}}</h1>
<h1>Last Name: {{mrsachins.lastname}}</h1>
<h1>Date of Birth: {{mrsachins.dob}}</h1>
<h1>Email: {{mrsachins.email}}</h1>
<h1>Phone No. :{{mrsachins.phoneno}}</h1>
<h1>Hobby: {{mrsachins.hobby}}</h1>
<h1>Family Member: {{mrsachins.familyno }}</h1>


{% endfor %}
</div>
{% endblock content %}